.chatbot {
    padding: 60px 10%;
}

.chatbot h2 {
    color: #003366;
    margin-bottom: 20px;
    font-size: 32px;
    text-align: center;
}

.chatbot-janela {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
    min-height: 300px;
    padding: 20px;
}
