.pagina-curso {
    min-height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 40px 50px;
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 20px;
    font-size: 20px;
}

.pagina-curso img {
    width: 400px;
    border-radius: 15px;
}

.pagina-curso div {
    max-width: 500px;
}

.pagina-curso h1 {
    margin-bottom: 20px;
    font-size: 32px;
    color: #003366;
}

---------------

.o-que-aprende,
.areas-atuacao {
    padding: 60px 10%;
}

.texto-curso {
    max-width: 900px;
    margin: 0 auto 30px;
    text-align: justify;
}

.texto-curso h2 {
    margin-bottom: 20px;
    font-size: 32px;
    color: #003366;
}

.texto-curso p {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.6;
}

.video-info {
    width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 15px;
}


@media (max-width: 768px) {

    .pagina-curso {
        flex-direction: column;
        text-align: center;
        padding: 30px 20px;
    }

    .pagina-curso img {
        width: 90%;
    }

    .texto-curso h2 {
        font-size: 26px;
    }

    .texto-curso p {
        font-size: 18px;
    }

}